<h1>New Restaurant</h1>

<form action="/restaurants" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<label for="name">Name:</label>
<input type="string" name="restaurant[name]" id="name">

<label for="address">Address:</label>
<input type="string" name="restaurant[address]" id="address">

<label for="category">Category:</label>
<input type="string" name="restaurant[category]" id="category">
<input type="submit" value="create">
</form>

<form action="/restaurants">
  <input type="submit" class="btn btn-primary" value="Home">
</form>
